<div class="date <%= date.on_weekend? ? 'weekend' : 'weekday' %>" <%= grid_span_style(row * 24 + 1, 24) %> >
  <p><%= date.strftime('%b %d') %></p>
</div>

<% 2.times do |h| %>
  <div class='hour' <%= grid_span_style(row * 24 + 1 + h * 12, 12) %>> 
    <%= h * 12 %>
  </div>
<% end %>
