<!DOCTYPE html>
<html>
  <head>
    <title>Sabbatical</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <div class='grid'>
      <div class='grid-header'><%= render 'layouts/header', current_user: current_user %></div>
      <div class='grid-content'><%= yield %></div>
    </div>

  </body>
</html>
